<% content_for :title do %>
  Manage adoption requests - PetShelter
<% end %>

<% content_for :nav do %>
  &nbsp;&nbsp;Current location:
  <%= link_to 'Home', action: 'events' %>&nbsp;&gt;
  <%= link_to 'Management', action: 'management' %>&nbsp;&gt;
  Adoption requests
<% end %>

<% content_for :content_block do %>
 <%= form_tag({action: 'man_req_adoptions'}, {:multipart => true}) do %>
   <ul class="files">
     <li>
       <input id="all" type="checkbox" name="adoptions" />
       <label for="all"><strong>Select all</strong></label>
     </li>
    <% @adoptions.each do |adoption| %>
     <li>
       <input id="<%= adoption.id %>" type="checkbox" name="<%= adoption %>" />
       <label for="<%= adoption.id %>">
        <%= link_to adoption, action: 'man_req_adoption', adoption_id: adoption %>
       </label>
     </li>
    <% end %>
   </ul>
   <input class="button" type="reset" value="Reset" />
   <input class="button" type="submit" name="reject" value="Reject" />
   <input class="button" type="submit" name="accept" value="Accept" />
 <% end %>
<% end %>

