<% content_for :title do %>
  Surrender animals - PetShelter
<% end %>

<% content_for :nav do %>
  &nbsp;&nbsp;Current location:
  <%= link_to 'Home', action: 'events' %>&nbsp;&gt;&nbsp;Applications&nbsp;&gt;
  Surrender animals
<% end %>

<% content_for :content_block do %>
 <% if @status != nil %>
   <p id="status" class="files"> <%= @status %> </p>
 <% else %>
   <p id="status" class="files" style="display:none;"> Success </p>
 <% end %>
 <%= form_tag({action: 'app_surrender'}, {:multipart => true}) do %>
   <select id="sas" class="files" name="sas"></select>
   <table class="files">
    <% @animal.attributes.each_pair do |name, value| %>
     <% if name != 'id' and name != 'animal_id' and name != 'stage' and
           name != 'shelter_id' and name != 'created_at' and name != 'updated_at' %>
      <tr>
        <td class="key"><%= name %></td>
        <td class="value">
         <% if name == 'gender' %>
          <input type="radio" name="a_gender" value="male" checked="checked" id="a_male" />
          <label for="a_male"> Male </label>
          <input type="radio" name="a_gender" value="female" id="a_female" />
          <label for="a_female"> Female </label>
         <% elsif name == 'sn' %>
          <input type="checkbox" name="sn" id="sn" />
         <% else %>
          <input type="text" name="<%= name %>" id="<%= name %>" />
         <% end %>
        </td>
      </tr>
     <% end %>
    <% end %>
      <tr>
        <td class="key"> photos </td>
        <td class="value">
          <%= file_field_tag 'photo' %>
        </td>
      </tr>
      <tr>
        <td class="key"> reason </td>
        <td class="value">
          <input type="text" name="reason" />
        </td>
      </tr>
   </table>
   <input id="add" class="button" type="button" name="add" value="Add" />
   <input id="remove" class="button" type="button" name="remove" value="Remove" />
   <input id="edit" class="button" type="button" name="edit" value="Edit" />
   <table class="files">
    <% @people.attributes.each_pair do |name, value| %>
     <% if name != 'id' and name != 'user_type' and name != 'created_at' and name != 'updated_at' %>
      <tr>
        <td class="key"><%= name %></td>
        <td class="value">
         <% if name == 'gender' %>
          <input type="radio" name="gender" value="male" checked="checked" id="male" />
          <label for="male"> Male </label>
          <input type="radio" name="gender" value="female" id="female" />
          <label for="female"> Female </label>
         <% else %>
          <input type="text" name="<%= name %>" id="<%= name %>" />
         <% end %>
        </td>
      </tr>
     <% end %>
    <% end %>
   </table>
   <input id="reset" class="submit" type="reset" value="Reset form" />
   <input id="submit" class="submit" type="submit" value="Submit" />
 <% end %>
<% end %>

<% content_for :javascript do %>
 <script src="{% static 'PetShelter/javascript/app_surrender.js' %}"></script>
<% end %>

