<% content_for :title do %>
  Volunteer - PetShelter
<% end %>

<% content_for :nav do %>
  &nbsp;&nbsp;Current location:
  <%= link_to 'Home', action: 'events' %>&nbsp;&gt;&nbsp;Applications&nbsp;&gt;
  Volunteer
<% end %>

<% content_for :content_block do %>
 <%= form_tag({action: 'app_volunteer'}, {:method => :post}) do %>
   <ul class="files">
    <% @shelters.each do |shelter| %>
     <li>
       <input type="radio" name="shelter" id="<%= shelter %>" />
       <label for="<%= shelter %>">
         <%= link_to shelter, action: 'shelter', shelter_id: shelter %>
       </label>
     </li>
    <% end %>
   </ul>
   <table class="files">
   <% @people.attributes.each_pair do |name, value| %>
    <% if name != 'id' and name != 'user_type' and 
          name != 'created_at' and name != 'updated_at' %>
      <tr>
        <td class="key"><%= name %></td>
        <td class="value">
         <% if name == 'gender' %>
          <input type="radio" name="gender" value="male" checked="checked" id="male" />
          <label for="male"> Male </label>
          <input type="radio" name="gender" value="female" id="female" />
          <label for="female"> Female </label>
         <% else %>
          <input type="text" name="<%= name %>" id="<%= name %>" />
         <% end %>
        </td>
      </tr>
     <% end %>
    <% end %>
   </table>
   <input class="submit" type="reset" value="Reset form" />
   <input class="submit" type="submit" value="Submit" />
 <% end %>
<% end %>

